#dc {
  background-image: linear-gradient(127deg, #FF9B05, #7C25EA 40%, #0D6FCA 70%);
}

#rb {
  background-image: linear-gradient(127deg, #DB7373 10%, #FF9B05 90%);
}

#an {
  background-image: linear-gradient(127deg, #FF9B05, #7C25EA 70%);
}